<h1>Your Profile</h1>
<h5>Logged in as <%= current_user.email %></h5>
<% if current_user.reviews.any? %>
  <h3>Your Reviews</h3>
  <ul>
    <% current_user.reviews.order({created_at: :desc}).each do |review| %>
      <li>
        <p>You reviewed <%= link_to review.restaurant.name, restaurant_path(review.restaurant) %> on <%= review.updated_at.strftime("%b %d, %Y %I:%M %p") %> </p>
        <%# render partial: './reviews/list', locals: {review: review} %>
    </li>
    <% end %>
  </ul>
<% else %>
  <h3>You have no reviews yet.</h3>
<% end %>
