<h1>Your Michelin 3-Star Restaurant Guide</h1>
<h2>Personalized for Fine Dining Lovers Like You!</h2>

<div>
  <select id="browse_bar">
    <option>Browse By:</option>
    <option value="countriesAZ" >Country (A-Z)</option>
    <option value="countriesMost">Country (Most)</option>
    <option value="citiesAZ">City (A-Z)</option>
    <option value="citiesMost">City (Most)</option>
    <option value="cuisinesAZ">Cuisine (A-Z)</option>
    <option value="cuisinesMost">Cuisine (Most)</option>
    <option value="restaurantsAZ">View All (A-Z)</option>
  </select>
</div>
<div id="display_list">

</div>
<% if !user_signed_in? %>
  <h5>Log In or Sign Up to track your dining experiences and post a review!</h5>
<% end %>
