<h1>Welcome to Restaurant World Critic!</h1>

<div id="browse bar">
  <select name="listSorter">
    <option value="">Browse By:</option>
    <option value="countryAZ" >Country (A-Z)</option>
    <option value="countryMost">Country (Most)</option>
    <option value="cityAZ">City (A-Z)</option>
    <option value="cityMost">City (Most)</option>
    <option value="cuisineAZ">Cuisine (A-Z)</option>
    <option value="cuisineMost">Cuisine (Most)</option>
    <option value="allAZ">View All (A-Z)</option>
  </select>
</div>
<div id="displayRestaurants">
  <% @countries.each do |country| %>
    <ul>
       <h3><%= link_to country.name, country_path(country) %> (<%= country.restaurants.count%>)</h3>

    </ul>
  <% end %>
  <br>
</div>
<% if !user_signed_in? %>
  <h5>Log In or Sign Up to track your dining experiences and post a review!</h5>
<% end %>
