<h1>Welcome to Restaurant Critic!</h1>


<% @cities.each do |city| %>
  <ul>
    <h3><%= city.name %></h3>
      <% city.cuisines.uniq.each do |cuisine| %>
        <li><%= cuisine.name %></li>
      <% end %>
  </ul>
<% end %>
