<li>
  <%= link_to restaurant.name, restaurant_path(restaurant) %> (<%= restaurant.price_range.times{"$"} %> <%= restaurant.cuisine.name %>)<br>
    <% if restaurant.reviews.any? %>
    <p><%= calculate_average(restaurant) %></p>
  <% else %>
    <p>No reviews</p>
  <% end %>
</li>
