<li>
  <%= link_to restaurant.name, restaurant_path(restaurant) %><br>
    <% if restaurant.reviews.any? %>
    <p><%= calculate_average(restaurant) %></p>
  <% else %>
    <p>No Reviews</p>
  <% end %>
</li>
