<% if restaurant.cuisine && restaurant.city %>
  <% error_messages = [] %>

  <div id="error_explanation">
    <% errors(restaurant, error_messages) %>
    <h2><%= pluralize(error_messages.count, "error") %> prevented this listing from being saved:</h2>
      <ul>
        <% error_messages.each do |message| %>
          <li><%= message[0] %></li>
        <% end %>
      </ul>
    </div>
<% end %>
