<% @restaurants.each do |restaurant| %>
  <ul>
     <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
      <% if restaurant.city.name != restaurant.city.country.name %>
        <p><%= restaurant.city.name %>, <%= restaurant.city.country.name %></p>
      <% else %>
        <p><%= restaurant.city.name %></p>
      <% end %>
      <br>
  </ul>
<% end %>
