<% @countries.each do |country| %>
  <ul>
     <h3><%= link_to country.name, country_path(country), :class => "country_item"  %> (<%= country.restaurants.count%>)</h3>
     <div class="list_restaurants">
     </div>
  </ul>
<% end %>
