<% i = 1 %>
<% @countries.each do |country| %>
  <ul>
     <h3 class="list_restaurants_<%=i%>"><%= link_to country.name, country_path(country), :class => "country_item"  %> (<%= country.restaurants.count%>)</h3>
     <div class="list_restaurants_<%=i%>">
     </div>
  </ul>
  <% i += 1 %>
<% end %>
