<h1>Restaurants in <%= @city.name %>: </h1>
<ul>
  <% @city.restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant) %> (<%= restaurant.cuisine.name %>)
    </li>
  <% end %>
</ul>
