
<% if review.user == current_user %>
  <p>
    <div style = "float: left">
      <%= button_to 'Edit', controller: 'reviews', action: 'edit', review_id: review.id, method: "get" %>
    </div>
    <div style = "float: left">
      <%= button_to 'Delete', {controller: 'reviews', action: 'destroy', review_id: review.id}, method: "delete" %>
    </div>
  </p><br>
<% end %>
